@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Adventure Zone Camp Page!</h1>
    <!--<p class="lead">Choose an option from above to get started</p>-->
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pre-Camp Survey</h2>
        <p>Complete the Pre-Camp Survey to tell us what you're expecting from camp!
        Go ahead and give it a try. Be sure to check out the Reports section when you're done!</p>
        <p><a class="btn btn-default" href="/Surveys/PreSurvey">Let's Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Post-Camp Survey</h2>
        <p>Complete the Post-Camp Survey to tell us what you thought of camp!
        Go ahead and give it a try. Be sure to check out the Reports section when you're done!</p>
        <p><a class="btn btn-default" href="/Surveys/PostSurvey">Let's Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin Features</h2>
        <p>Check out some of the admin sections such as Reports and Edit.</p>
        <p><a class="btn btn-default" href="/SurveyReports">Reports &raquo;</a> &nbsp; 
        <a class="btn btn-default" href="/Edit">Edit &raquo;</a></p>
    </div>
</div>