<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#90EE90">
	<link rel="icon" type="image/png" href="Site Support/Picture1.png">

    <title>CS A-Z</title>

    <meta name="keywords" content="">

    <link href="Site Support/css.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap and Font Awesome css -->
    <link href="Site Support/font-awesome.css" rel="stylesheet">
    <link href="Site Support/bootstrap.css" rel="stylesheet">

    <!-- Theme stylesheet -->
    <link href="Site Support/style.css" rel="stylesheet" id="theme-stylesheet">

    <!-- Custom stylesheet - for your changes -->
    <link href="Site Support/custom.css" rel="stylesheet">

    <!-- owl carousel css -->

    <link href="Site Support/owl.css" rel="stylesheet">
    <link href="Site Support/owl_002.css" rel="stylesheet">

    <!-- CSS Animations -->
    <link href="Site Support/animate.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="http://hsnarman.oucreate.com/summercamp/CSA-Z/favicon.png">

    <!-- Mordernizr -->
    <script src="Site Support/modernizr-2.js"></script>

    <!-- Responsivity for older IE -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" charset="UTF-8" src="Site Support/common.js"></script><script type="text/javascript" charset="UTF-8" src="Site Support/util.js"></script><script type="text/javascript" charset="UTF-8" src="Site Support/stats.js"></script></head>

<body data-spy="scroll" data-target="#navigation" data-offset="120">

    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <img src="Site Support/Picture1.png" class="image img-responsive" alt="LOGO">
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#intro">Home</a>
                    </li>
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#Registration">Registration</a>
                    </li>
                    
                    <li><a href="#references">Activities</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->


    <div id="all">


        <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
        <div id="intro" class="clearfix" style="width: 1263px; height: 691px;">
            <div class="item" style="width: 1263px; height: 691px;">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <h1 data-animate="fadeInDown" style="opacity: 0;" class="animated fadeInDown">Interested in Computer Science and want to learn more?</h1>
                            <h2 data-animate="slideInUp" style="opacity: 0;" class="animated slideInUp">
                                Marshall University CS ADVENTURE ZONE SUMMER CAMP will be for you.<br> Join us for this summer</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- *** INTRO IMAGE END *** -->

        <!-- *** ABOUT ***
_________________________________________________________ -->
        <div class="section" id="about">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown" style="opacity: 0;">COMPUTER SCIENCE ADVENTURE ZONE</h2>
                    </div>

                     <div>
                       <h3 class="title" data-animate="fadeInDown" style="opacity: 0;">MARSHALL UNIVERSITY</h3>
                       
                      <!-- <h4 class="title" data-animate="fadeInDown">Weisberg Applied Engineering Complex – Room 3241</h4><br> -->

                    </div>

                    <div class="col-sm-12" style="padding-left: 60px;">

                        <div class="row">

                            <div class="col-sm-6 text-left" data-animate="fadeInUp" style="opacity: 0;">

                                <img src="Site Support/img1.jpg" class="img-responsive" alt="">
                                
                                <h6><i> Finch Robot </i></h6>

                            </div>

                            <div class="col-sm-6" data-animate="fadeInUp" style="border-left: 1px solid black; opacity: 0;">

                                   <ul align="justify">
        <li><strong>CS A-Z</strong> will be held at Marshall University on<strong>June 10th, 2017</strong> and <strong>July 8th, 2017</strong>
 middle and high school students. With this half-day camp, you will 
discover the fun nature of Computer Science and make new friends. We 
provide various computer science related activities including playing 
with Finch Robot, developing a mobile app without coding, flying drones 
and taking pictures, creating music using Sonic Pi, writing a program, 
meeting scientists, and much more.</li><br>

        <li><strong>The Purpose</strong> of CS A-Z is to develop 
interest in computer science and to make students aware of how the 
computer works and how it helps our life. Students will also learn how 
to solve the everyday life problems with computing and programming. CS 
A-Z will provide fun filled hands-on activities throughout the camp to 
enjoy while learning computing.</li><br>

        <li><strong>Parents</strong> are responsible for registering the
 students and drop and pick up the students on the day of the camp. No 
transportation will be provided by CS A-Z camp. To join CA A-Z, parents 
should agree terms and conditions of Marshall University and Division of
 Computer Science and sign the agreement during registration (or before 
events). Parents are welcome to to stay and attend the introduction 
session of the program.</li></ul>



                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <!-- /#about -->

        <!-- *** ABOUT END *** -->

        <!-- *** Registration ***
_________________________________________________________ -->
        <div class="section text-gradient" id="Registration">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="title" data-animate="fadeInDown" style="opacity: 0;">Registration</h2>

                    <h3 class="title" data-animate="fadeInDown" style="opacity: 0;">Students may register for only one of the two dates, the same activities will be offered on both days. Registration is $20.</h3>

                    <div class="row Registration">

                    <div class="col-md-4" data-animate="fadeInUp" style="opacity: 0;">
                            <h3 class="heading" style="color: blue">Saturday, June 10, 2017</h3>
                            <ul align="left" style="font-size: 20px; padding-left:40px">
                            <li>High School:<font color="black"> 1:00PM – 5:00PM</font></li>
                            <li>Middle School:<font color="black"> 8:30AM – 12:30PM</font></li>
                            <li>Due Date:<font color="black"> May 31, 2017</font></li>
                            <li><a href="https://goo.gl/wmVvPa" target="_blank"><font color="blue">Click here</font> <font color="white">to register</font></a></li>
                        </ul></div>

                        <div class="col-md-4" data-animate="fadeInUp" style="opacity: 0;">
                        <!-- to add middle part
                            <div class="icon"><i class="fa fa-html5"></i>
                            </div>
                            <h3 class="heading" style="color: black">Registration</h3>
                           <ul align="left" style="font-size: 20px;padding-left: 90px;">
                               <li>Must register for the summer camp</li>
                               <li>Registration fee: $20.00</li>
                               <li>Refund: $10 (To the students who join the survey)</li>



                           </ul>
                         -->
                        </div>

                           
                        <div class="col-md-4" data-animate="fadeInUp" style="opacity: 0;">
                            <h3 class="heading" style="color: blue">Saturday, July 8, 2017</h3>
                            <ul align="left" style="font-size: 20px; padding-left:40px">
                            <li>High School:<font color="black"> 8:30AM – 12:30PM</font></li>
                            <li>Middle School:<font color="black"> 1:00PM – 5:00PM</font></li>
                            <li>Due Date:<font color="black"> June 28, 2017</font></li>
                            <li><a href="https://goo.gl/AdmYzu" target="_blank"><font color="blue">Click here</font> <font color="white">to register</font></a></li>
                            
                          
                        </ul></div>

                    </div>

                   

                   
                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** Registration END *** -->

        <!-- *** TESTIMONIALS ***
_________________________________________________________ -->

       
        <!-- /.section -->

        <!-- *** TESTIMONIALS END *** -->

        <!-- *** SHOWCASE ***
_________________________________________________________ -->
       
        <!-- /.section -->

        <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
       <div class="section" id="references">
            <div class="container">
                <div class="col-sm-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp" style="opacity: 0;">Activities</h2>

                        <p class="lead" data-animate="fadeInUp" style="opacity: 0;">Have a look at what we have.</p>
                    </div>

                    

                    <div id="detail">

                        <span class="close">×</span> 

                        <div id="detail-slider"></div>

                        <div class="text-center">
                            <h1 id="detail-title">&nbsp;</h1>
                        </div>

                        <div id="detail-content"></div>

                    </div>
                    <!-- Reference detail -->

                    <div id="references-masonry" data-animate="fadeInUp" style="opacity: 0; visibility: visible; position: relative; width: 1110px; height: 221.25px;">

                        <div class="reference-item" data-category="CS A-Z: June 10" style="position: absolute; left: 0px; top: 0px;">
                            <div class="reference">
                                <a href="#">
                                    <img src="Site Support/p-5.jpg" class="img-responsive" alt="">

                                    <div class="overlay">
                                        <h3 class="reference-title">Flying Drones</h3> 
                                        <p></p>
                                    </div>
                                </a>

                               <div class="sr-only reference-description" data-images="img/s-9.jpg,img/s-10.jpg">

                                    <p>Drones come in a wide variety of 
sizes, with the large drone mostly used for military purposes such as 
the Predator drone, other smaller drones which can be launched by hand, 
to other unmanned aircraft which require short runways. An unmanned 
aerial vehicle system has two parts, the drone itself and the control 
system.</p>
                                    
                                   
                                </div>
                            </div>
                        </div>
                        <div class="reference-item" data-category="CS A-Z: July 8" style="position: absolute; left: 285px; top: 0px;">
                            <div class="reference">
                                <a href="#">
                                    <img src="Site Support/p-2.jpg" class="img-responsive" alt="">

                                    <div class="overlay">
                                        <h3 class="reference-title">Finch Robot</h3> 
                                        <p></p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="img/s-3.jpg,img/s-4.jpg">

                                    <p>The Finch is a robot for computer
 science education. Its design is the result of a four year study at 
Carnegie Mellon's CREATE lab. The Finch is designed to support an 
engaging introduction to the art of programming.</p>

                                  

                                    
                                </div>
                            </div>
                        </div>

                        <div class="reference-item" data-category="marketing" style="position: absolute; left: 570px; top: 0px;">
                            <div class="reference">
                                <a href="#">
                                    <img src="Site Support/p-3.jpg" class="img-responsive" alt="">

                                    <div class="overlay">
                                        <h3 class="reference-title">Mobile App Development</h3> 
                                        <p></p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="img/s-5.jpg,img/s-6.jpg">

                                    <p>Mobile application development is
 to denote the act or process by which application software is developed
 for mobile devices, such as personal digital assistants, enterprise 
digital assistants or mobile phones.</p>

                                   

                                   
                                </div>

                            </div>
                        </div>

                        <div class="reference-item" data-category="marketing" style="position: absolute; left: 855px; top: 0px;">
                            <div class="reference">
                                <a href="#">
                                    <img src="Site Support/p-4.png" class="img-responsive" alt="">

                                    <div class="overlay">
                                        <h3 class="reference-title">Sonic Pi</h3> 
                                        <p></p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="img/s-7.jpg,img/s-8.jpg">

                                    <p>Sonic Pi is an open-source 
programming environment developed, designed to explore and teach 
programming concepts through the process of creating new sounds. This is
 a scheme of work which emphasises the importance of creativity in the 
learning process and gives users the control to turn their sonic ideas 
into reality.</p>

                                   
                                   
                                </div>
                            </div>
                        </div>
<!--
                        <div class="reference-item" data-category="CS A-Z: June 10">
                            <div class="reference">
                                <a href="#">
                                    <img src="img/p-5.jpg" class="img-responsive" alt="" />

                                    <div class="overlay">
                                        <h3 class="reference-title">Flying Drones</h3> 
                                        <p></p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="img/s-9.jpg,img/s-10.jpg">

                                    <p>Drones come in a wide variety of sizes, with the large drone mostly used for military purposes such as the Predator drone, other smaller drones which can be launched by hand, to other unmanned aircraft which require short runways. An unmanned aerial vehicle system has two parts, the drone itself and the control system.</p>

                                    
                                 

                                </div>
                            </div>
                        </div>
-->
                        

                    </div>
                    <!-- /#references-masonry -->

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** REFERENCES END *** -->

        <!-- *** CUSTOMERS ***
_________________________________________________________ -->

        
        <!-- /.section -->

        <!-- *** CUSTOMERS END *** -->

        <!-- *** CONTACT ***
_________________________________________________________ -->

        <div class="section contact" id="contact" data-animate="bounceIn" style="opacity: 0;">
            <div class="container">
                <div class="col-md-12">


                    <h2 class="title">Contact us</h2>

                    <div style="width:100%;">
                        <div class="row" style="width:100%">

                        <div>
                            <form id="contact-form" method="post" action="contact.php">

                                <div class="messages">

                                </div>
                                
                                <div style=" width: 100%;" align="center">
                                    <table width="100%">
                                        <tbody><tr>
                                            <td style="padding-left: 10px;line-height: 40px; font-size: 20px;" width="40%" align="center">
                                                <b>If you have any question please contact:<br>
                                                 Ms. Meaghan Buckland: <a href="mailto:bucklandm@marshall.edu">bucklandm@marshall.edu.</a> <a>(304) 696-4664 </a><br>
                                                 Dr. Husnu Narman: <a href="mailto:narman@marshall.edu">narman@marshall.edu.</a> <a>(304) 696-5829</a>
                                                <br><br>
                                               Marshall University
                                               <br> Weisberg Division of Computer Science<br>
											    <small>Arthur Weisberg Family Applied Engineering Complex 3101 • One John Marshall Drive • 
												Huntington, WV 25755 </small>
                                                 <br>

                                                <h5></h5>
                                            </b></td>
                                            
                                        </tr>
                                    </tbody></table>
                                </div> 

                              
                                
                            </form>
                        </div>

                    </div>

                    

                                  
                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** CONTACT END *** -->

        <!-- *** MAP ***
_________________________________________________________ -->

        

      

         
        <!-- /.section -->

        <!-- *** MAP END *** -->

        <!-- *** FOOTER ***
_________________________________________________________ -->




    </div>
    <!-- /#all -->

    <!-- #### JAVASCRIPT FILES ### -->

    <!-- js base -->
    <script src="Site Support/jquery-1.js"></script>
    <script src="Site Support/bootstrap.js"></script>

    <!-- for demo purpose -->
    <script src="Site Support/jquery_003.js"></script>

    <!-- waypoints for scroll spy -->
    <script src="Site Support/waypoints.js"></script>

    <!-- maps -->
    <script src="Site Support/js"></script>
    <script src="Site Support/gmaps.js"></script>

    <!-- masonry layout -->
    <script src="Site Support/masonry.js"></script>

    <!-- owl carousel -->
    <script src="Site Support/owl.js"></script>


    <!-- jQuery scroll to -->
    <script src="Site Support/jquery_004.js"></script>

    <!-- jQuery counter -->
    <script src="Site Support/jquery.js"></script>

    <!-- jQuery parallax -->
    <script src="Site Support/jquery_002.js"></script>

    <!-- main js file -->

    <script src="Site Support/front.js"></script>

    





</body></html>