
@{
    ViewBag.Title = "Survey Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>This page will only be visible to Administrators.</h3>
<h3>This page will be used to select data for a report <br />
    and the type of chart to use. Below is an example from <br />
    the PreSurvey and PostSurvey sections on this page.</h3>


<h2>Select Data Type (Doesn't change anything right now)</h2>
<form>
<input type="radio" name="data" value="type1" checked />Data Type 1<br>
<input type="radio" name="data" value="type2" />Data Type 2<br>
<input type="radio" name="data" value="type3" />Data Type 3<br>
</form>

<h2>Select Chart Type (Doesn't change anything right now)</h2>
<form>
    <input type="radio" name="data" value="type1" checked />Chart Type 1<br>
    <input type="radio" name="data" value="type2" />Chart Type 2<br>
    <input type="radio" name="data" value="type3" />Chart Type 3<br>
</form>

<br />
<p><a class="btn btn-default" href="/SurveyReports/RunReport">Run Report (I actually do something) &raquo;</a></p>
