
@{
    ViewBag.Title = "Survey MOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Survey Modifications</h1>

<h2>Question Modification</h2>

<h4>You can create a new question for use with various surveys here.</h4>
<p><a class="btn btn-default" href="/SurveyMods/QuestionAdd">Add Question</a></p> <br />

<h4>Make a mistake when creating a question? Change the wording of a previously created question or supplied answers here.</h4> 
<p><a class="btn btn-default" href="/SurveyMods/QuestionEdit">Edit Questions</a></p> <br />

<h4>Choose which questions are displayed with the currently active surveys, as well as question ordering.</h4>
<p><a class="btn btn-default" href="/SurveyMods/QuestionOptions">Question Options</a></p> <br />

<h2>Survey Modification</h2>

<h4>Create a new, empty survey here.</h4>
<p><a class="btn btn-default" href="/SurveyMods/SurveyAdd">Add Survey</a></p> <br />

<h4>Change the active surveys for each category as well as assign questions to surveys. Also change the spelling of a survey.</h4>
<p><a class="btn btn-default" href="/SurveyMods/SurveyOptions">Survey Options</a></p>

