
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Survey Modifications</h1>

<h2>Question Modification</h2>
<p><a class="btn btn-default" href="/SurveyMods/QuestionAdd">Add Question</a></p>
<p><a class="btn btn-default" href="/SurveyMods/QuestionOptions">Question Options</a></p>

<h2>Survey Modification</h2>
<p><a class="btn btn-default" href="/SurveyMods/SurveyOptions">Survey Options</a></p>

