
@{
    ViewBag.Title = "Survey MOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Survey Modifications</h1>

<h2>Question Modification</h2>

<h4>Create a new question.</h4>
<p><a class="btn btn-default" href="/SurveyMods/QuestionAdd">Add Question</a></p> <br />

<h4>Made a mistake when creating a question? Change the wording of a question or supplied answers.</h4> 
<p><a class="btn btn-default" href="/SurveyMods/QuestionEdit">Edit Questions</a></p> <br />

<h4>Choose which questions are displayed with the currently active surveys, as well as question ordering.</h4>
<p><a class="btn btn-default" href="/SurveyMods/QuestionOptions">Question Options</a></p> <br />

<h2>Survey Modification</h2>

<h4>Create a new, empty survey.</h4>
<p><a class="btn btn-default" href="/SurveyMods/SurveyAdd">Add Survey</a></p> <br />

<h4>Change the active surveys for each category, change question assignment, and edit a survey name. </h4>
<p><a class="btn btn-default" href="/SurveyMods/SurveyOptions">Survey Options</a></p>

