@model A_ZCamp.Models.QuestionData
@{
    ViewBag.Title = "Question Specific Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Edit a Question</h2>
<br />

@using (Html.BeginForm("QuestionSpecificUpdate", "SurveyMods", FormMethod.Post, new { @class = "form" }))
{

    if (Model.QType == A_ZCamp.Models.QuestionType.MultipleChoice)
    {
        <h4>Question Name: </h4>
        @Html.TextBoxFor(m => m.Question, new { required = "required" }) <br />

        <h4>Supplied Answers: </h4>
        for (int i = 0; i < Model.QSupAnswers.Count; i++)
        {
           @Html.TextBoxFor(m => m.QSupAnswers[i], new { required = "required" }) <br />
        }
    }

    else if (Model.QType == A_ZCamp.Models.QuestionType.ShortAnswer)
    {
        <h4>Question Name: </h4>
        @Html.TextBoxFor(m => m.Question, new { required = "required" }) <br />
    }

    @Html.HiddenFor(m => m.Qid)

    <br />
    <br />
    <input type="submit" class="btn btn-primary " value="Update" />
}