
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    This page will only be visible to Administrators.
</h2>
<h2>Edit</h2>
<h3>Survey Questions</h3>

<p><a class="btn btn-default" href="">Add Survey Question</a></p>
<p><a class="btn btn-default" href="">Edit Survey Question</a></p>
<p><a class="btn btn-default" href="">Delete Survey Question</a></p>

