
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>This page will only be visible to Administrators.</h3>
<h3>This page will be used to edit survey questions.</h3>
<h1>Edit</h1>
<h2>Survey Questions</h2>

<p><a class="btn btn-default" href="Edit/Add">Add Survey Question</a></p>
<p><a class="btn btn-default" href="Edit/Edit">Edit Survey Question</a></p>
<p><a class="btn btn-default" href="Edit/Delete">Delete Survey Question</a></p>

