@{
    ViewBag.Title = "Surveys";
}

<br />
<h1>Surveys</h1>
<h2>Welcome! Let's get started. First, what's your email address?</h2>

@using (Html.BeginForm("AddSurveyResults", "Surveys", FormMethod.Post, new { @class = "form" }))
{
    <h3>Email: </h3>
    @Html.TextBox("Hello");
        <input type="submit" class="btn btn-primary " value="Go!" />
}
