@{
    ViewBag.Title = "Surveys";
}

<br />
<h1>Surveys</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Pre-Camp Survey</h2>
        <p>Complete the Pre-Camp Survey</p>
        <p><a class="btn btn-default" href="/Surveys/PreSurvey">Get Started &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Post-Camp Survey</h2>
        <p>Complete the Post-Camp Survey</p>
        <p><a class="btn btn-default" href="/Surveys/PostSurvey">Get Started &raquo;</a></p>
    </div>
</div>
