@model A_ZCamp.Models.SurveyLandingViewModel
@{
    ViewBag.Title = "Surveys";
}

<br />
<h1>Surveys</h1>
<h3>Welcome! Let's get started.</h3>
<h3>What's your email address?</h3>

@using (Html.BeginForm("IndexUpdate", "Surveys", FormMethod.Post, new { @class = "form" }))
{

    @Html.ValidationSummary()

    <h4>Email: </h4>
    @Html.TextBoxFor(m => m.Email, new { required = "required"})
        <input type="submit" class="btn btn-primary " value="Go!" />
}
