
@{
    ViewBag.Title = "Survey Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Thanks for completing a Survey!</h2>
<h2>We really value your opinion. Please be sure to check your email about other Surveys!</h2>
