
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Survey Question Modification</h1>

<p><a class="btn btn-default" href="EditQuestion/Add">Add Survey Question</a></p>
<p><a class="btn btn-default" href="EditQuestion/Edit">Edit Survey Question</a></p>
<p><a class="btn btn-default" href="EditQuestion/Delete">Delete Survey Question</a></p>

