
@{
    ViewBag.Title = "Survey Question Modification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Modify Survey Questions</h1>


<p><a class="btn btn-default" href="EditQuestion/Add">Add</a></p>
<p><a class="btn btn-default" href="EditQuestion/Edit">Edit</a></p>
<p><a class="btn btn-default" href="EditQuestion/Delete">Disable</a></p>

